body {
    font-family: sans-serif;
}

.images div {
    float: left;
    width: 200px;
    height: 170px;
    padding: 0px;
    margin: 10px;
}

.images img {
    height: 165px;
    width: 100%;
}

@media screen min-width(991px) {
    /*TODO:change the image to take whole width or coloumn*/
}
